body {
    margin: 10px;
    background-image: url('fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Устанавливаем цвет текста в белый */
}

div {
    border: solid 1px #000000; /* Устанавливаем цвет границы в белый */
    padding: 10px;
}

.top {
    height: 100px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    background-image: url('fon.jpg');
    text-align: center;
    line-height: 100px;
}

.left {
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.right {
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.main {
    margin-left: 220px;
    margin-top: 10px;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Добавьте отступ между изображением и текстом */
}
.main img {
   max-width: 100%; /* Чтобы изображения не выходили за пределы контейнера */
}
.mobile-links {
    display: none; /* Скрываем мобильные гиперссылки на десктопных устройствах */
}
/* CSS для мобильных устройств */
@media screen and (max-width: 600px) {
    body {
        color: #fff; /* Цвет текста на белом фоне */
    }

    .left, .right, .main {
        width: 100%; /* Ширина блоков left, right и main на мобильных устройствах */
        float: none;
        margin: 0; /* Убираем отступы */
    }

    .centered-container {
        display: block; /* Переключаемся на блочный режим для изображений */
        text-align: center; /* Выравниваем изображения по центру */
        margin: 20px 0; /* Добавляем отступы между изображениями и текстом */
    }
    .top {
        height: auto; /* Устанавливаем высоту блока top на авто, чтобы текст мог поместиться */
        background: none; /* Убираем фон у блока top */
        line-height: normal; /* Восстанавливаем обычный line-height */
    }
    .mobile-links {
        height: auto;
        margin-bottom: 10px;
        display: block;
        text-align: center; /* Центрируем ссылки внутри блока */
    }
}

 

