body {
    margin: 10px;
    background-image: url('fon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Устанавливаем цвет текста в белый */
}

div {
    border: solid 1px #000000; /* Устанавливаем цвет границы в белый */
    padding: 10px;
}

.top {
    height: 100px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    background-image: url('fon.jpg');
    text-align: center;
    line-height: 100px;
}

.left {
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.right {
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.main {
    margin-left: 220px;
    margin-top: 10px;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px; /* Добавьте отступ между изображением и текстом */
}
.main img {
   max-width: 100%; /* Чтобы изображения не выходили за пределы контейнера */
}
@media screen and (max-width: 600px) {
    .left, .right {
        width: 100%;
        float: none;
        margin: 10px 0;
    }
}


/* Медиазапрос для экрана (screen) */
@media screen {
    body {
        font-family: 'Courier New', Courier, monospace;
    }
}

/* Медиазапрос для печати (print) */
@media print {
    body {
        background-color: white;
    }
}
